<div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <h1 class="brand-name">{{ 'LMUSH' | translate }}</h1>
                    <hr class="tagline-divider">
                </div>
            </div>
        </div>

<div class="row">
            <div class="box">
                <div class="col-lg-12">
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <td>
               ID <a href="" ng-click="predicate = 'id'; reverse=false">^</a> 
               <a href="" ng-click="predicate = 'id'; reverse=true">v</a>
            </td>
            <td>
                {{ 'NAME' | translate }}
                <a href="" ng-click="predicate = 'name'; reverse=false">^</a> 
               <a href="" ng-click="predicate = 'name'; reverse=true">v</a>
            </td>
            <td>
                {{ 'TYPE' | translate }}
                <a href="" ng-click="predicate = 'type'; reverse=false">^</a> 
               <a href="" ng-click="predicate = 'type'; reverse=true">v</a>
            </td>
            <td>
                {{ 'STARTOFO' | translate }}
                <a href="" ng-click="predicate = 'startOfOccurence'; reverse=false">^</a> 
               <a href="" ng-click="predicate = 'startOfOccurence'; reverse=true">v</a>
            </td>
            <td>
                 {{ 'ENDOFO' | translate }}
                  <a href="" ng-click="predicate = 'endOfOccurence'; reverse=false">^</a> 
               <a href="" ng-click="predicate = 'endOfOccurence'; reverse=true">v</a>
            </td>
            <td>
                 {{ 'SHOWDETAIL' | translate }}
            </td>
        </tr>
    </thead>
    <tr ng-repeat="mushroom in mushrooms | orderBy:predicate:reverse | filter:searchText">
        <td>
            {{mushroom.id}}
        </td>
        <td>
            {{mushroom.name}}
        </td>
        <td>
            {{ mushroom.type | translate }}
            
        </td>
        <td>
            {{mushroom.startOfOccurence | date:'dd.MM.yyyy'}}
        </td>
        <td>
            {{mushroom.endOfOccurence | date:'dd.MM.yyyy'}}
        </td>
        <td>
            <a href="" ng-click="showMushroomDetail(mushroom.id)">Detail</a>
        </td>
    </tr>
</table>
<div>
    <input ng-model="searchText" class="form-control" id="exampleInputEmail1" placeholder="Filter mushrooms">
</div>
<center>
    <button type="button" class="btn btn-info" ng-click="goToCreateMushroom()">
         {{ 'CREATENEWMUSH' | translate }}
    </button>
    <button type="button" class="btn btn-info" ng-click="refreshMushrooms()">
         {{ 'REFRESH' | translate }}
    </button>
    <button type="button" class="btn btn-info" ng-click="goToHomePage()">
         {{ 'BACKTOHP' | translate }}
    </button>
</center>
                    </div>
            </div>
        </div>