<h2>
    Create new location
</h2>

<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <td>
                Property
            </td>
            <td>
                Value
            </td>
        </tr>
    </thead>
    <tr>
        <td>
            Name
        </td>
        <td>
            <span editable-text="location.name" onbeforesave="">{{location.name || 'Set location name' }}</span> 
        </td>
    </tr>
    <tr>
        <td>
            Description
        </td>
        <td>
            <span editable-text="location.description" onbeforesave="">{{location.description || 'Set descriprion' }}</span> 
        </td>
    </tr>
    <tr>
        <td>
            Near city
        </td>
        <td>
            <span editable-text="location.nearCity" onbeforesave="">{{location.nearCity || 'Set name of near city' }}</span>
        </td>
    </tr>
</table>
<button type="button" class="btn btn-success" ng-click="createLocation()">
    Create location
</button>
<button type="button" class="btn btn-info" ng-click="goToLocationList()">
    Back to location list
</button>

