<br />
<br />
<center>
    <h1 class="brand-name"> {{ 'CREATENEWHUNTER' | translate }}</h1>
    <hr class="tagline-divider">
</center>
<br />
<br />
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <td>
                            {{ 'PROPERTY' | translate }}
                        </td>
                        <td>
                            {{ 'VALUE' | translate }}
                        </td>
        </tr>
    </thead>
    <tr>
        <td>
            {{ 'FIRSTNAME' | translate }}
        </td>
        <td>
            <span editable-text="hunter.firstName" onbeforesave="">{{hunter.firstName|| 'Set hunter firstName' }}</span> 
        </td>
    </tr>
    <tr>
        <td>
            {{ 'DESCRIPTION' | translate }}
        </td>
        <td>
            <span editable-text="hunter.description" onbeforesave="">{{hunter.description|| 'Set descriprion' }}</span> 
        </td>
    </tr>
</table>
<center>
    <button type="button" class="btn btn-success" ng-click="createHunter()">
        {{ 'CREATEHUNTER' | translate }}
    </button>
    <button type="button" class="btn btn-info" ng-click="goToHunterList()">
       {{ 'BACKTOHL' | translate }}
    </button>
</center>
