<br />
<br />
<center>
    <h1 class="brand-name"> {{ 'LHUNTER' | translate }}</h1>
    <hr class="tagline-divider">
</center>
<br />
<br />
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <td>
                ID
            </td>
            <td>
                 {{ 'FIRSTNAME' | translate }}
            </td>
            <td>
                 {{ 'DESCRIPTION' | translate }}
            </td>
        </tr>
    </thead>
    <tr ng-repeat="hunter in hunters| filter:searchText">
        <td>
            {{hunter.id}}
        </td>
        <td>
            {{hunter.name}}
        </td>
        <td>
            {{hunter.description}}
        </td>
        <td>
            <a href="" ng-click="showhunterDetail(hunter.id)">Detail</a>
        </td>
    </tr>
</table>
<div>
    <input ng-model="searchText" class="form-control" id="exampleInputEmail1" placeholder="Filter hunters">
</div>
<center>
    <button type="button" class="btn btn-info" ng-click="goToCreateHunter()">
       {{ 'CREATENEWHUNTER' | translate }}
    </button>
    <button type="button" class="btn btn-info" ng-click="refreshHunters()">
        {{ 'REFRESH' | translate }}
    </button>
    <button type="button" class="btn btn-info" ng-click="goToHomePage()">
        {{ 'BACKTOHP' | translate }}
    </button>
</center>